<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Course</h1>
    <ul>
        {% for course in courses %}
            <li>
                <a href="{% url 'create-lesson' pk=course.pk %}">
                    <span>{{course.title}} ({{course.lesson_count}})</span>
                    <img src="{{course.image.url}}" alt="" width="200px">
                </a>
            </li>
        {% endfor %}
    </ul>
    <form action="{% url 'create-course' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_div}}
        <input type="submit">
    </form>
</body>
</html>